.panel-container {
  display: block flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.panel-container div {
  border: solid 5px #bbeafe;
  border-radius: 5px;
  margin: 0px;
  height: 32%;
}

#panel-top {
  margin-bottom: 9px;
}

#panel-bot {
  margin-top: 9px;
}