.credits-container{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-top: 3%;
}

.credits-container img{
    height: 40px;
    width: 40px;
}

.credits-container div{

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.credits-container div ul{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: center;
  align-items: center;
}

