
.App {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar navbar'
    'main panel';
    width: 75vw;
    height: 60vh;
    margin: 0 auto

}

.navbar {
  grid-area: navbar;

}
.main {
  grid-area: main;

}
.panel {
  grid-area: panel;
  overflow: auto;

}
