
.App {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar navbar'
    'main panel';
    width: 100vw;
    height: 100vh;
}

.navbar {
  grid-area: navbar;
  border: 5px solid white;
}
.main {
  grid-area: main;
  border: 5px solid white;
}
.panel {
  grid-area: panel;
  border: 5px solid white;
}
